<% content_for :title do %>About VinCompare<% end %>
<% content_for :description do %>Join us in our fight again vehicle fraud<% end %>
<main role="main">
  <div class="container">
    <br />
    <h1>About Us</h1><br />
    <p>We are a team of vehicle enthusiast. Every vehicle purchased needs to get a detailed vehicle inspection coupled with a history report. However, a majority of vehicle purchases made
       were not inspected before the purchase and some blindly trust just a vehicle report. A buyer needs both - not one or the other.</p>
    <p>A fascinating research done by ABC News showed evidence that a vehicle history report is simply not sufficient. The source
       of information that is on the report are from various locations - and not all accidents are reported. This is a major issue - especially
       with a projected used car dealers revenue of $77.6 Billion in 2013 (based on Used Car Dealers in the US May 2013 by IBISWORLD).  </p>
    <p>The following is a video related to a vehicle history report provider:</p>
    <br />
    <p class="text-center"><iframe width="560" height="315" src="//www.youtube.com/embed/52-0JQcixp4" frameborder="0" allowfullscreen></iframe></p>
    <br />
    <p>Hence, VinCompare.com was created. We purchased vehicle reports from all vehicle history reports from the US and compare each report.
       We will release updates & findings that we notice from each report incrementally on our website:
      <ul>
        <li>Information Source</li>
        <li>Relevant / Useful Information</li>
        <li>Report Availability</li>
        <li>Prices</li>
        <li>Market Trust, and more</li>
      </ul>
    </p>
    <p>If you have any suggestions or advance knowledge that you would like to share, please contact us
       and we will get with you as soon as possible. Sooner rather than later, this will be an open source project
       and every information found will be released to the public.</p>
    <p>As buyers or sellers, we reserve the rights to gain a full understanding of a vehicle before a transaction.
       Join us in our fight against fraud.</p>
    <br />
  </div>
</main>


