<% content_for :title do %>VinCompare Privacy Policy<% end %>
<% content_for :description do %>VinCompare Privacy Policy - we respect our users<% end %>
<main role="main">
  <div class="container">
      <br />
    <h1>Privacy Policy</h1><br />
    <p>VinCompare.com is owned by AS Flux, LLC. AS Flux, LLC (“VinCompare,” “we,” “our” or “us”)] is committed to protecting your privacy. This VinCompare.com privacy policy (the “Privacy Policy”) describes the information that we collect from you through the www.VinCompare.com website (including co-branded and framed versions of the website and its subsites, the “Website”), the purposes for which we use such information, with whom we may share such information, your choices regarding our use and sharing of such information, and the steps we take to protect your personal information. By accessing the Website, you are consenting to the information collection, use and sharing practices described in this Privacy Policy. IF YOU DO NOT AGREE TO THE TERMS OF THIS PRIVACY POLICY, PLEASE DO NOT USE THE WEBSITE. Please note that this Privacy Policy only applies to information collected on the Website and does not apply to information which we may collect on other websites owned or operated by VinCompare.com (other than co-branded websites identified as VinCompare.com, which are subject to this Privacy Policy), or by means other than on the Website.</p>

    <p><a href="#top" style="display:none;"></a>
      <a href="#gather">WHAT INFORMATION DO WE GATHER AND TRACK?</a><br />
      <a href="#cookies">COOKIES AND HOW WE USE THEM</a><br />
      <a href="#share">WITH WHOM MAY WE SHARE YOUR INFORMATION</a><br />
      <a href="#information">HOW DO WE USE THE INFORMATION WE GATHER AND TRACK?</a><br />
      <a href="#update">CORRECTING/UPDATING INFORMATION</a><br />
      <a href="#links">LINKS TO OTHER SITES</a><br />
      <a href="#safe">SAFE AND SECURE TRANSACTIONS</a><br />
      <a href="#correcting">CORRECTING/UPDATING INFORMATION</a><br />
      <a href="#feedback">FEEDBACK OR QUESTIONS</a><br />
      <a href="#updates">PRIVACY POLICY UPDATES</a><br />
    </p>
    <br />
    <p><strong><a name="gather">WHAT INFORMATION DO WE GATHER AND TRACK?</a></strong><a href="#top"><small>  (back to top) </small></a><br/>
      At VinCompare.com, we take your privacy very seriously. We are not in the business of disclosing your personally identifiable information to others without your express or implied consent. We record IP addresses (the Internet address of a computer) to track sessions on our Website. Tracking gives us an idea of which parts and pages of our site users are visiting, how often they visit them, and how long they spend there. We also track browser type and platform. We use this information to deliver customized information specific to a particular platform and to determine the &#8220;mix&#8221; of browser types accessing our Website. This information helps us make our Website operate correctly with your browser.</p>
    <p>However, if you:</p>
    <ul>
      <li>Purchase a product or service from www.VinCompare.com;</li>
      <li>Sign up for a mailing list or enter a contest;</li>
      <li>Fill out a survey, or sign onto a page that requires authorization; or</li>
      <li>Enter into any other transaction with us,</li>
    </ul>
    <p>You may be asked to provide us your name, e-mail address, mobile phone number, land-line phone number, fax number, postal address, credit card number (for purchases), and possibly other personal information. Additional demographic information may be optionally requested in order to improve our service to our customers. We may use the information you provide to:</p>
    <ul>
      <li>Keep you informed of new releases of our products;</li>
      <li>Provide helpful hints and tips on how to use our products;</li>
      <li>Make special offers that we extend only to our registered customers for VinCompare and other affiliate products;</li>
      <li>Improve our Website and the services we offer you;</li>
    </ul>
    <p>In addition, some of our products and services may include technology that, if an Internet or Wi-Fi connection is available, contacts VinCompare.com servers with basic information about your mobile phone or mobile data device and the operating system and the types of programs it is used with. In some instances and with some of our products, the location of your mobile phone may be collected and utilized by VinCompare.com to provide you with the best service possible.</p>

    <p><strong><a name="cookies">COOKIES AND HOW WE USE THEM</a></strong><a href="#top"><small>  (back to top) </small></a><br />
      Cookies are unique text files that are sent to your browser from a web server. As you browse our Website, cookies are placed on your computer&#8217;s hard drive including when you download, register and/or purchase software. Cookies may include registration numbers for any or all of your registered VinCompare.com products. Because some cookies may contain registration number(s), they can be linked to personally identifiable information. VinCompare.com does not provide any personally identifiable information from cookie data to third parties. VinCompare.com may use a third party to analyze for VinCompare.com general Website statistics such as number of pages viewed, browser types, etc. obtained from cookies.</p>
    <p>Cookies are used by VinCompare.com for the following:</p>
    <ul>
      <li>To track the method of your referral to our Website;</li>
      <li>Anonymous statistical purposes;</li>
      <li>To track your site session and present information, graphics or hyperlinks based on your session and/or write information to submission forms when contacting VinCompare.com; and</li>
      <li>To present information, offers and invitations (surveys, beta programs, etc.) based on your product registration and improve your experience with the site.</li>
    </ul>

    <p><strong><a name="share">WITH WHOM MAY WE SHARE YOUR INFORMATION</a></strong><a href="#top"><small>  (back to top) </small></a><br />
      We may collect, create and disclose to third parties aggregated, anonymous statistics regarding our sales, traffic analyses and other information regarding or collected through our Website. We may also sometimes engage agents, contractors, or other trusted businesses to perform services necessary to our operations (for example, delivery of products, distribution of e-mail, etc.). When we do, we may give them access to name, addresses or other information necessary for them to do their job for us, but not for any other purpose.</p>
    <p>In limited cases, we will share your registration information (name, address, mobile phone number, etc.) with the manufacturer or affiliate service provider of that product, when you buy a third-party product or services from us, or with other third-party affiliates. That manufacturer or affiliate then may use your data to contact you by email, text and or voice blast on your mobile device etc and might also share your data with others, depending upon that manufacturer&#8217;s or affiliate’s own privacy policy. By opting-in to this privacy policy on the registration page, you are providing us permission to share personal information about you with other companies for their marketing use. We believe that the manufacturers, affiliates, and other third parties whose products we promote or sell typically will respect your privacy; however, we don&#8217;t control what they do with data they receive from us. We therefore recommend that you check the privacy policy of any third-party manufacturer or affiliate whose products you choose to buy from us, including how to tell that manufacturer or affiliate your e-mail opt-out preferences, request to update or delete your data, etc. If you have any questions about the data we give to third-party manufacturers of products you buy from us or which specific manufacturers we share information with, please contact us directly. Finally, in the event our company or its assets were ever sold, our customer database naturally would be transferred to the new owner.</p>
    <p>Except as described above, and except as may be required by law, we will not disclose your personally identifiable information to others without your consent. In the event that VinCompare becomes involved in a merger, acquisition, or any form of sale of some or all of its assets, we will ensure the confidentiality of any personal information involved in such transactions.</p>

    <p><strong><a name="information">HOW DO WE USE THE INFORMATION WE GATHER AND TRACK?</a></strong><a href="#top"><small>  (back to top) </small></a><br />
      The information collected may be used for processing orders, personalizing the shopping experience, contests, promotions, newsletters, announcements, special offers, etc.</p>

    <p><strong><a name="update">CORRECTING/UPDATING INFORMATION</a></strong><a href="#top"><small>  (back to top) </small></a><br />
      If your personally identifiable information changes (such as your mobile phone number, postal address, and zip code), or if you no longer desire our service, we will endeavor to provide a way to correct, update or remove your personal data provided to us. This can be accomplished by contacting VinCompare.com via e-mail, fax, phone, or US mail communication.</p>

    <p><strong><a name="links">LINKS TO OTHER SITES</a></strong><a href="#top"><small>  (back to top) </small></a><br />
      The VinCompare.com site contains links to other websites. We cannot guarantee your privacy once you leave our Website. We are not responsible for the privacy policies, practices or content of websites with links on our site. We encourage you to read the posted privacy statement whenever interacting with any website.</p>

    <p><strong><a name="safe">SAFE AND SECURE TRANSACTIONS</a></strong><a href="#top"><small>  (back to top) </small></a><br />
      Protecting your order information is important to us and we make every effort to protect your online order information by using Secure Sockets Layer (SSL) technology. However, some firewalls and certain versions of browsers don&#8217;t permit communication through secure servers.</p>

    <p><strong><a name="correcting">CORRECTING/UPDATING INFORMATION</a></strong><a href="#top"><small>  (back to top) </small></a><br />
      If your personally identifiable information changes (such as your mobile phone number, postal address, and zip code), or if you no longer desire our service, we will endeavor to provide a way to correct, update or remove your personal data provided to us. This can be accomplished by contacting VinCompare.com via e-mail, fax, phone, or US mail communication.</p>

    <p><strong><a name="feedback">FEEDBACK OR QUESTIONS</a></strong><a href="#top"><small>  (back to top) </small></a><br />
      If you have any questions or feedback regarding our privacy statement, please contact us via email:</p>
    <address>
      <a href="mailto:#">privacy@vincompare.com</a>
    </address>

    <p><strong><a name="updates">PRIVACY POLICY UPDATES</a></strong><a href="#top"><small>  (back to top) </small></a><br />
      You should check back for updates to this privacy policy since we reserve the right to update it from time to time without notice. Your continued use of the Website www.VinCompare.com following the posting of updates to this Privacy Policy will mean you accept those updates. This page was last modified on August 29th, 2013.</p>
    <br />
  </div>
</main>