<% content_for :title do %>VinCompare Terms & Conditions<% end %>
<% content_for :description do %>VinCompare Terms & Conditions - User Centric site<% end %>
<main role="main">
  <div class="container">
    <br />
    <h1>Terms & Conditions</h1><br>

    <p><strong>
      PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THIS SITE. THIS IS A LEGAL AGREEMENT BETWEEN YOU AND AS FLUX, LLC (“ASF”) STATING THE TERMS THAT GOVERN YOUR USE OF ASF PRODUCTS AND SERVICES OFFERED ON ITS WEBSITE WWW.VINCOMPARE.COM (the “WEBSITE” OR “VINCOMPARE”, COLLECTIVELY THE “SERVICE” OR “SERVICES”). BY VISITING OR USING THIS SITE, OR ANY PAGE OF THIS SITE, YOU AGREE TO BE BOUND BY THESE TERMS OF USE (ALONG WITH NMVTIS DISCLAIMER AND PRIVACY POLICY), AND YOU ACKNOWLEDGE THAT SUCH AGREEMENT CONSTITUTES A BINDING CONTRACT BETWEEN YOU AND ASF. IF YOU DO NOT AGREE TO THESE TERMS OF USE, PLEASE DO NOT USE THIS SITE.
      ASF RESERVES THE RIGHT, AT ITS DISCRETION, TO UPDATE OR REVISE THESE TERMS OF USE. PLEASE CHECK THE TERMS PERIODICALLY FOR REVISIONS AND UPDATES. YOUR CONTINUED USE OF THIS SITE AFTER THE POSTING OF CHANGES TO THE TERMS OF USE CONSTITUTES ACCEPTANCE OF THOSE CHANGES.
    </strong></p>

    <br><p><strong><a name="">PROTECTING THE PRIVACY OF CHILDREN</a></strong><br>
    Children should always get permission from their parents before sending any information about themselves (such as their names, email addresses, and phone numbers) over the Internet, to us or to anyone else. Our website is not directed at children under 13 and we will not knowingly allow anyone under 13 to provide us any personally identifying information; if you're under 13, please do not provide any information about yourself on this website.</p><br>

      <a href="#general">GENERAL TERMS</a>                                       <br />
      <a href="#privacy">PRIVACY</a>                                             <br />
      <a href="#payment">PAYMENT</a>                                             <br />
      <a href="#password">PASSWORD</a>                                           <br />
      <a href="#restrictions">RESTRICTIONS ON USE</a>                            <br />
      <a href="#disclaimer">DISCLAIMER OF WARRANTIES</a>                         <br />
      <a href="#indem">INDEMNIFICATION</a>                                       <br />
      <a href="#governing">GOVERNING LAW</a>                                     <br />
      <a href="#third-party">THIRD PARTY CONTENT</a>                             <br />
      <a href="#maintenance">SITE MAINTENANCE</a>                                <br />
      <a href="#termination-asf">TERMINATION BY ASF</a>                          <br />
      <a href="#termination-service">TERMINATION OF SERVICES</a>                 <br />
      <a href="#paid-services">PAID SERVICES / AGREEMENT TO PAY</a>              <br />
      <a href="#reviews">REVIEWS, COMMENTS, COMMUNICATIONS, AND OTHER CONTENT</a><br />
      <a href="#disclaimer">VINCOMPARE DISCLAIMER</a>                            <br />

    <br><p><strong><a name="general">GENERAL TERMS</a></strong><a href="#top"><small> (back to top) </small></a><br>
    This site is owned and operated by AS FLUX, LLC. ("ASF"). ASF has the right at any time to change or discontinue any aspect or feature of the site, including, without limitation, the content, hours of availability, and equipment needed for access or use of the www.VinCompare.com Web site (the "Site").
    Many if not most communications between ASF and you will be sent and received electronically. You agree that all agreements, notices, disclosures and other communications exchanged between you and ASF electronically shall satisfy any legal requirements that such communications be in writing.
  </p>

    <br><p><strong><a name="privacy">PRIVACY</a></strong><a href="#top"><small> (back to top) </small></a><br>
    Any information that you provide to ASF is subject to our <a href="/privacy">Privacy Policy</a> , which governs our collection and use of your information. You understand that through your use of the Services you consent to the collection and use (as set forth in the Privacy Policy) of this information, including the transfer of this information to the United States and/or other countries for storage, processing and use by ASF. As part of providing you the Services, we may need to provide you with certain communications, such as service announcements and administrative messages. These communications are considered part of the Services and your ASF account, if any, which you may not be able to opt-out from receiving. You can opt-out of other communications from ASF such as our newsletter, credits notifications, etc.
  </p>


    <br><p><strong><a name="payment">PAYMENT</a></strong><a href="#top"><small> (back to top) </small></a><br>
    Any and all payments for services shall be made by the Customer in United States dollars through an approved payment processor, such as Stripe or Paypal. Payment are non-refundable, except when an exception is approved by a representative of VinCompare. An applicable sales tax may be assessed based on the Customer’s billing zip code.</p>

    <br><p><strong><a name="password">PASSWORD</a></strong><a href="#top"><small> (back to top) </small></a><br>
    You are responsible for safeguarding the password that you use to access the Services and for any activities or actions under your password. We encourage you to use "strong" passwords (passwords that use a combination of upper and lower case letters, numbers and symbols) with your account. ASF cannot and will not be liable for any loss or damage arising from your failure to comply with the above.</p>

    <br><p><strong><a name="restrictions">RESTRICTIONS ON USE</a></strong><a href="#top"><small> (back to top) </small></a><br>
    We reserve the right at all times (but will not have an obligation) to remove or refuse to distribute any Content on the Services, to suspend or terminate users, and to reclaim usernames without liability to you. We also reserve the right to access, read, preserve, and disclose any information as we reasonably believe is necessary to (i) satisfy any applicable law, regulation, legal process or governmental request, (ii) enforce the Terms, including investigation of potential violations hereof, (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to user support requests, or (v) protect the rights, property or safety of ASF, its users and the public.</p>
    <p>ASF offers you access to the Site and to the Content available on the Site solely for your own personal and non-commercial use. You may not resell or make any commercial use of the Site or the Content. You may not make use of any product listings, descriptions, or prices. You may not download or copy any account information for the benefit of any other merchant. You may not make use of any robots, spiders, or similar data mining, data gathering or extraction tools or manual processes to collect, gather or copy any of the Content in an unauthorized manner. You may not engage in the practices of "screen scraping," "database scraping," or any other practice or activity the purpose of which is to obtain lists of users, portions of a database, or other lists or information from this Site, in any manner or in any quantities not authorized by ASF. You may not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of ASF, VinCompare or its affiliates without prior express written consent. You may not use meta tags or any other "hidden text" utilizing ASF or VinCompare name or trademarks without the express written consent of ASF.</p>

    <br><p><strong><a name="disclaimer">DISCLAIMER OF WARRANTIES</a></strong><a href="#top"><small> (back to top) </small></a><br>
    YOU EXPRESSLY AGREE THAT USE OF THE SITE IS AT YOUR SOLE RISK. NEITHER ASF, ITS AFFILIATES, NOR ANY OF THEIR RESPECTIVE EMPLOYEES, AGENTS, THIRD PARTY CONTENT PROVIDERS, OR LICENSORS WARRANT THAT THE SITE WILL BE UNINTERRUPTED OR ERROR FREE; NOR DO THEY MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM USE OF THE SITE, OR AS TO THE ACCURACY OR RELIABILITY OF ANY INFORMATION, SERVICE, OR MATERIALS PROVIDED THROUGH THE SITE.</p>
    <p>THE SITE IS PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OTHER THAN THOSE WARRANTIES WHICH ARE IMPLIED BY AND INCAPABLE OF EXCLUSION, RESTRICTION OR MODIFICATION UNDER APPLICABLE LAW. ADDITIONALLY, THERE ARE NO WARRANTIES RELATING TO ANY OF THE AUTOMOBILES ABOUT WHICH INFORMATION IS POSTED ON THIS SITE. THIS DISCLAIMER OF LIABILITY APPLIES TO ANY DAMAGES OR INJURY CAUSED BY ANY FAILURE OF PERFORMANCE, ERROR, OMISSION, INACCURACY, INTERRUPTION, DELETION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS, COMMUNICATION LINE FAILURE, THEFT OR DESTRUCTION OR UNAUTHORIZED ACCESS TO, ALTERATION OR, OR USE OF THIS SITE, WHETHER FOR BREACH OF CONTRACT, TORTUOUS BEHAVIOR (INCLUDING STRICT LIABILITY), NEGLIGENCE, OR UNDER ANY OTHER CAUSE OF ACTION. YOU SPECIFICALLY ACKNOWLEDGE THAT ASF IS NOT LIABLE FOR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD-PARTIES AND THAT THE RISK OF INJURY FROM THE FOREGOING RESTS ENTIRELY WITH YOU.</p>
    <p>IN NO EVENT WILL ASF, OR ANY PERSON OR ENTITY INVOLVED IN CREATING, PRODUCING, OR DISTRIBUTING THE SITE OR THE CONTENT INCLUDED THEREIN, BE LIABLE IN CONTRACT, IN TORT (INCLUDING FOR ITS OWN NEGLIGENCE) OR UNDER ANY OTHER LEGAL THEORY (INCLUDING STRICT LIABILITY) FOR ANY DAMAGES, INCLUDING, WITHOUT LIMITATION, DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, CONSEQUENTIAL, OR SIMILAR DAMAGES, INCLUDING, WITHOUT LIMITATION, LOST PROFITS OR REVENUES, LOSS OF USE, OR SIMILAR ECONOMIC LOSS, ARISING OUT OF THE USE OF OR INABILITY TO USE THE SITE. YOU HEREBY ACKNOWLEDGE THAT THE PROVISIONS OF THIS SECTION SHALL APPLY TO ALL USE OF AND CONTENT ON THE SITE. APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. IN NO EVENT SHALL ASF TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION WHETHER IN CONTRACT, TORT (INCLUDING ITS OWN NEGLIGENCE) OR UNDER ANY OTHER LEGAL THEORY (INCLUDING STRICT LIABILITY) EXCEED THE AMOUNT PAID BY YOU, IF ANY, FOR ACCESSING THIS SITE OR OBTAINING ANY REPORTS OR OTHER INFORMATION FROM THIS WEB SITE.</p>

    <br><p><strong><a name="indem">INDEMNIFICATION</a></strong><a href="#top"><small> (back to top) </small></a><br>
    You agree to defend, indemnify, and hold harmless ASF and its affiliates and their respective directors, officers, employees, and agents from and against any and all claims, actions, demands, damages, costs, liabilities, losses, and expenses (including reasonable attorneys' fees) arising out of your use of the Site or any information you obtain from the Site or its reports.</p>

    <br><p><strong><a name="governing">GOVERNING LAW</a></strong><a href="#top"><small> (back to top) </small></a><br>
    This site (excluding any linked sites) is controlled by us from our offices within the United States of America. You agree to comply with all local, state, federal, and national laws, statutes, ordinances, and regulations that apply to your use of the service.</p>

    <br><p><strong><a name="third-party">THIRD PARTY CONTENT</a></strong><a href="#top"><small> (back to top) </small></a><br>
    Any information or content expressed or made available by third parties, including information providers and users, are those of the respective author(s) or distributor(s) and not of ASF.</p>
    <p>The Site contains links to third party web sites with which ASF has linking arrangement but for which it does not maintain control or assume responsibility. The inclusion of such a link does not necessarily imply endorsement of such sites by ASF or any association with the operators of such linked sites. Any concerns regarding any such third party service or resource, or any link thereto, should be directed to the particular service or resource. In addition, ASF recommends that you review these sites' terms of use and privacy policies.</p>

    <br><p><strong><a name="maintenance">SITE MAINTENANCE</a></strong><a href="#top"><small> (back to top) </small></a><br>
    In the event of any site maintenance, you might not be able to purchase Services on the Site. ASF reserve the rights to inform you about this maintenance and provide the Product to you upon completion of the site maintenance.</p>

    <br><p><strong><a name="termination-asf">TERMINATION BY ASF</a></strong><a href="#top"><small> (back to top) </small></a><br>
    If you fail, or ASF suspects that you have failed, to comply with any of the provisions of this Agreement, including but not limited to failure to make payment of fees due, failure to provide ASF with a valid credit card or with accurate and complete Account registration data, failure to safeguard your account information, violation of the ASF Terms of Use or any license, or infringement or other violation of third parties' rights, ASF, at its sole discretion, without notice to you may: (i) terminate this Agreement and/or your account, and you will remain liable for all amounts due under your account up to and including the date of termination; and/or (ii) terminate the license to the software; and/or (iii) preclude access to the Services (or any part thereof). Any suspected fraudulent, abusive or illegal activity may be grounds for terminating your relationship and may be referred to appropriate law enforcement authorities.</p>

    <br><p><strong><a name="termination-service">TERMINATION OF SERVICES</a></strong><a href="#top"><small> (back to top) </small></a><br>
    ASF reserves the right to modify, suspend, or discontinue the Services (or any part or content thereof) at any time with or without notice to you, and ASF will not be liable to you or to any third party should it exercise such rights.</p>

    <br><p><strong><a name="paid-services">PAID SERVICES / AGREEMENT TO PAY</a></strong><a href="#top"><small> (back to top) </small></a><br>
    Prices and availability of any Services are subject to change at any time. You must have an Account and pay the subscription or other fees to use any of ASF’s Services.  For information about subscription and other fees for particular Services visit www.vincompare.com.</p>
    <p>If you pay a periodic (e.g. monthly) subscription for an ASF Service, ASF will provide you with notice of any changes to the fees or billing methods at least thirty (30) days in advance by posting such changes on the Terms of Service section of the ASF website www.vincompare.com/terms-and-conditions.  You are responsible for reviewing the ASF Terms of Service to obtain timely notice of such changes. Your continued use of the ASF Services thirty (30) days or more after posting of the changes means that you accept such changes. If any change is unacceptable to you, you may cancel your subscription at any time, but ASF will not refund any fees that may have accrued to your Account before cancellation of your subscription, and we will not prorate fees for any subscription. If your use of ASF Services is subject to use or sales tax, then ASF may also charge you for any such taxes, in addition to the subscription or other fees.</p>
    <p>We may provide links to other web sites. Some of these web sites may charge separate fees, which are not included in any subscription or other fees that you may pay to ASF. Any separate charges or obligations that you incur in your dealings with third parties are your responsibility.</p>
    <p>Unless expressly authorized in writing by ASF, you agree not to reproduce, duplicate, copy, sell, trade, resell, redistribute, or exploit for any commercial purposes any: (a) portion of the Services; (b) use of the Services, including ASF’s response methods; or (c) access to the Services, including, but not limited to Account information.</p>

    <br><p><strong><a name="reviews">REVIEWS, COMMENTS, COMMUNICATIONS, AND OTHER CONTENT</a></strong><a href="#top"><small> (back to top) </small></a><br>
    If you do post content or submit material, and unless we indicate otherwise, you grant ASF and its affiliates a nonexclusive, royalty-free, perpetual, irrevocable, and fully sub-licensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such content throughout the world in any media. You represent and warrant that you own or otherwise control all of the rights to the content that you post; that the content is accurate; that use of the content you supply does not violate this policy and will not cause injury to any person or entity; and that you will indemnify ASF or its affiliates for all claims resulting from content you supply. ASF has the right but not the obligation to monitor and edit or remove any activity or content. ASF takes no responsibility and assumes no liability for any content posted by you or any third party.</p>

    <br><p><strong><a name="disclaimer">VINCOMPARE DISCLAIMER</a></strong><a href="#top"><small> (back to top) </small></a><br>
    VinCompare are Partners for VinAudit, LLC. The title records, junk/salvage/insurance records, and reported vehicle brands listed in the “Problem Check” section is compiled from data in NMVTIS. This vehicle history data is passed from our connection with AAMVA to our servers, which serves this report to your browser. This process of compiling the report through our connection with NMVTIS has been tested and approved by AAMVA. However, VinCompare neither enters nor validates the data in NMVTIS, so VinCompare does not guarantee the accuracy or completeness of the data presented.</p>
    <p>The vehicle specifications presented are based on a decoding the VIN number (which statically identifies the vehicle’s manufacturer and description). Hence, it will not reflect specific modifications made to this particular vehicle over the course of its existence. Furthermore, the accuracy of this decoding is not guaranteed.</p>
    <p>BY VISITING OR USING THIS SITE, OR ANY PAGE OF THIS SITE, YOU AGREE TO BE BOUND BY THESE TERMS OF USE, AND YOU ACKNOWLEDGE THAT SUCH AGREEMENT CONSTITUTES A BINDING CONTRACT BETWEEN YOU AND ASF. IF YOU DO NOT AGREE TO THESE TERMS OF USE, PLEASE DO NOT USE THIS SITE.</p>

    <br><p><strong>If you have any questions concerning our Terms and Conditions, Privacy Policy or other related concerns, feel free to contact us via email:</strong></p><br>
    <address>
      <a href="mailto:#">admin@vincompare.com</a>
    </address>
    <br />
  </div>
</main>