<%= form_for @vin, method: :post do |f| %>
  <%= f.text_field :vin_number, placeholder: 'Enter VIN Number', required: 'true' %>
  <button type="submit">
    <span class="glyphicon glyphicon-search white icon"></span>
  </button>
<% end %>