<%= render 'layouts/navbar' %>

<main role="main">
  <div class="container">
    <div class="lead">
      <h2>Checking sources to compare VIN <%= @vin.vin_number %>...</h2>
      <div class="progress"></div>
      <%= render 'vins/comparison_table' %>
    </div>
  </div>
</main>
