.progress {
    display: none;
    position:   fixed;
    z-index:    1000;
    left:       0;
    top:        0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('http://i.stack.imgur.com/FhHRx.gif')
    50% 50%
    no-repeat;
}

.progress.loading {
    display: block !important;
}
