<footer>
  <div class="wrap">
    <div class="column">
      <%= link_to 'Home', root_path %>
      <%= link_to 'About', page_path('About') %>
      <%= link_to 'Privacy', page_path('Privacy') %>
      <%= link_to 'Terms', page_path('Terms') %>
    </div>

    <div class="column last">
      <p>Created as a free tool for all. <a href="http://vincompare.com" class="orange">© VinCompare, 2013.</a></p>
    </div>
  </div>
</footer>